{% extends 'UmbrellaAdminBundle::adminLayout.html.twig' %}

{# Customize view error fields #}
{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="msg_err">{{ error.message }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %} 
{% endblock form_errors %}

{% block content %}

    <div class="add_edit_page_title">
        <h2>Add System User</h2>
    </div>

    <form id="add_user_form" action="" method="post">
        <div class="form_container">
            <table border="0" align="center" width="80%" >
                <tr class="form_head">
                    <td  colspan=4>
                        <h3>User information</h3>
                    </td>
                </tr>
                
                <tr>
                    <td width="18%">
                        First Name *
                    </td>
                    <td width="34%">                        
                        {{ form_widget(form.firstName, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                    <td width="18%">
                        Last Name *
                    </td>
                    <td width="28%">                    
                        {{ form_widget(form.lastName, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                </tr>
                <tr valign="top">
                    <td width="18%">  
                    </td>
                    <td width="34%" >
                        {{ form_errors(form.firstName) }}
                    </td>
                    <td width="18%">
                    </td>
                    <td width="28%">
                        {{ form_errors(form.lastName) }}
                    </td>
                </tr>

                {# <tr>
                    <td>
                        Address *
                    </td>
                    <td>
                        <input type="text" id="address" name="address" value="" style="width: 150px;"></input>
                    </td>
                    <td>
                        City *
                    </td>
                    <td>
                        <input type="text" id="city" name="city" value="" style="width: 150px;"></input>
                    </td>
                </tr> #}
                {# <tr>
                    <td>
                        State *
                    </td>
                    <td>
                        <select id="state" name="state" style="width: 155px;">
                            
                        </select>
                    </td>
                    <td>
                        Zipcode *
                    </td>
                    <td>
                        <input type="text" id="zipcode" name="zipcode" value="" style="width: 150px;"></input>
                    </td>
                </tr> #}

                <tr>
                    <td>
                        Email *
                    </td>
                    <td>                        
                        {{ form_widget(form.email.first, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                    <td>                        
                        Email Confirm *
                    </td>
                    <td>
                        {{ form_widget(form.email.second, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                </tr>
                <tr valign="top">
                    <td width="18%">  
                    </td>
                    <td width="34%" >
                        {{ form_errors(form.email.first) }}
                    </td>
                    <td width="18%">
                    </td>
                    <td width="28%">                        
                        {{ form_errors(form.email.second) }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Home Phone *
                    </td>
                    <td>                        
                        {{ form_widget(form.homePhone, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                    <td>
                        Cell Phone
                    </td>
                    <td>
                        {{ form_widget(form.cellPhone, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                </tr>
                <tr valign="top">
                    <td width="18%">  
                    </td>
                    <td width="34%" >
                        {{ form_errors(form.homePhone) }}
                    </td>
                    <td width="18%">
                    </td>
                    <td width="28%">
                        {{ form_errors(form.cellPhone) }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Password *
                    </td>
                    <td>
                        {{ form_widget(form.password.first, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                    <td>
                        Alterntive Phone
                    </td>
                    <td>
                        {{ form_widget(form.altPhone, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                </tr>
                <tr valign="top">
                    <td width="18%">  
                    </td>
                    <td width="34%" >
                        {{ form_errors(form.password.first) }}
                    </td>
                    <td width="18%">
                    </td>
                    <td width="28%">
                        {{ form_errors(form.altPhone) }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Password<br/>  Confirm *
                    </td>
                    <td>
                        {{ form_widget(form.password.second, {'required': false, 'attr': {'style': 'width: 150px;'}}) }}
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="18%">  
                    </td>
                    <td width="34%" >
                        {{ form_errors(form.password.second) }}
                    </td>
                    <td width="18%">
                    </td>
                    <td width="28%">
                    </td>
                </tr>

            </table>
        </div>

        <div style="text-align:center">
            {{ form_widget(form.save, {'required': false, 'attr': {'class': 'button'}}) }}
        </div>        
        {{ form_end(form) }}
    </form>

    <a href="{{ path('system_users') }}" class="button" style="margin-left:900px;">Back</a>

{% endblock %}